/** ArticleList */

.h-scroll {
    overflow: auto;
    height: calc(100vh - 75px);
    padding-bottom: 20px;
}

/** Pagination */

.ais-Pagination-link {
    color: #0096db;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    padding: 0.3rem 0.6rem;
    display: block;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.ais-Pagination-link:hover, .ais-Pagination-link:focus {
    color: #0073a8;
    background-color: #e3e5ec;
}

.ais-Pagination-item--disabled .ais-Pagination-link {
    opacity: 0.6;
    cursor: not-allowed;
    color: #a5abc4;
}

.ais-Pagination-item--disabled .ais-Pagination-link:hover, .ais-Pagination-item--disabled .ais-Pagination-link:focus {
    color: #a5abc4;
    background-color: #fff;
}

.ais-Pagination-item--selected .ais-Pagination-link {
    color: #fff;
    background-color: #0096db;
    border-color: #0096db;
}

.ais-Pagination-item--selected .ais-Pagination-link:hover, .ais-Pagination-item--selected .ais-Pagination-link:focus {
    color: #fff;
}

/** PoweredBy */

.powered-by {
    display: none;
}