/** Article Card */

.media-body {
    position: relative;
    padding-bottom: 50px;
    width: 80%;
}

.btn-title {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
    text-align: left;
}

.btn-title:hover {
    text-decoration: underline;
}

/*PEN STYLES*/
* {
    box-sizing: border-box;
  }
  .blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    margin-bottom: 1.6%;
    line-height: 1.4;
    border-radius: 5px;
    border: 1px solid #eee;
    overflow: hidden;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #5ad67d;
  }
  .blog-card .photo:hover {
    transform: scale(1.00);
    cursor: pointer;
  }
  .blog-card .meta {
    position: relative;
  }
  .blog-card .photo {
    transform: scale(0.95);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }

  .blog-card .description {
    padding: 1rem;
    position: relative;
    width: 100%;
  }
  .blog-card .description h1 {
    line-height: 1;
    font-size: 1.1rem;
  }
  .blog-card .description h2 {
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .blog-card .description .label {
    display: inline-block;
    color: white;
    background-color: #666;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
  .blog-card .description .uthsc {
    background-color: #006a4d;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
  }

  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }

  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }

  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
    }
    .blog-card .meta {
      flex-basis: 30%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 70%;
    }
  }
  
/** Source Label */

.btn-read-more {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.label {
    display: inline-block;
    color: white;
    background-color: #666;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
}

.blog-card .description .utk,
.blog-card .description .torchbearer,
.blog-card .description .nursing,
.blog-card .description .law,
.blog-card .description .tickle {
    background-color: #f77f00;
}

.blog-card .description .utm {
    background-color: #0c2340;
}

.blog-card .description .uthsc {
    background-color: #006a4d;
}

.blog-card .description .utia {
    background-color: #517c96;
}

.blog-card .description .utrf {
    background-color: #007b8b;
}

.blog-card .description .utc {
    background-color: #e0aa0f;
}

.blog-card .description .system {
    background-color: #981a1e;
}

.blog-card .description .ips {
    background-color: #454545;
}

.blog-card .description .alumnus {
    background-color: #1b2c3a;
}

.blog-card .description .quest {
    background-color: #57585b;
}

/** HitsPerPage (currently unused) */

.ais-HitsPerPage-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.3rem 2rem 0.3rem 0.3rem;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 92% 50%;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
}