/** Modal Pop up */

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-body img {
    display: block;
    margin: 3em auto;
    width: 30%;
    max-width: 50% !important;
}

.modal-article {
    width: 80%;
    margin: 0 auto;
}

/** Copy to clipboard button */

@keyframes copying {
    from {
        background-color: white;
    }
    to {
        background-color: #138496;
    }
}

.copied {
    animation-name: copying;
    animation-duration: 1s;
}