/** SideBar component */

.sidebar {
    height: calc(100vh - 75px);
    background: #F9FAFC;
    width: 30%;
    overflow-y: scroll;
    padding-bottom: 20px;
}

h2 {
    font-size: 16pt;
}

/** Search Box & Button */

.search-panel {
    width: 80%;
}

input[type="search"] {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #8492A6;
    display: inline-block;
}

.fa-search {
    width: 5%;
    color: #00A6FF;
    display: inline-block;
}

.fa-search:hover {
    color: #007bff;
}

/** Refinement options */
.date-filters {
    width: 75%;
}

.btn-date-selected {
    background: #47525E !important;
    color: white !important;
}

.btn-date {
    border: 1px solid #8492A6;
    color: #333;
}

.btn-date:hover {
    background: #8492A6;
}

.tag-container {
    height: 50%;
}

.tag-filters, .tag-heading {
    width: 75%;
}

.form-check-label {
    margin-top: 1em;
}

#tag-filters::-webkit-scrollbar {
    width: 7px;
}

#tag-filters::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.clear-refinements {
    color: #00A6FF;
}

.clear-refinements:hover {
    color: #007bff;
}

.clear-refinements[disabled] {
    color: #47525E;
}

.clear-refinements[disabled]:hover {
    color: #47525E;
    cursor: not-allowed;
}

.tag-count {
    color: white;
    background: #666;
    font-size: 10pt;
    border-radius: 2pt;
    padding: 0 5px;
}